@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@700&family=Poppins:wght@100&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: black;
    
}
.main{
    background-image: url("assets/netassest.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: max(1200px,100vw);
    height: 85vh;
    position: relative;
}
.main .box{
    height: 85vh;
    width: 100%;
    position: absolute;
    top: 0;
    opacity: 0.7;
    background-color: black;
}
nav{
    display: flex;
    align-items: center;
    max-width: 75vw;
    margin: auto;
    justify-content: space-between;
    height: 73px;
    
}
nav img{
    color: red;
    width: 100px;
    z-index: 10;
    position: relative;

}
nav .flex{
    display: flex;
    gap: 20px;
}
nav .flex button{
    z-index: 10;
    position: relative;
    
}
.content{
    height: calc(100% - 73px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    position: relative;
    gap: 18px;
    font-size: 16px;
    font-weight: bold;
    padding: 0 30px;
    text-align: center;
}
.content> :first-child{
    font-weight: bolder;
    font-size: 38px;
    font-family: 'Martel Sans', sans-serif;
    text-align: center;
}
.content input{
    padding: 7px 101px 7px 14px;
    font-size: 13px;
    border-radius: 4px;
    background-color: rgb(0 0 0 / 60%);
    font-weight: bold;
    color: white;
}
.seprate{
    background-color: rgb(73, 73, 73);
    height: 5px;
}
.btn{
    padding: 3px 18px;
    font-weight: bold;
    color: white;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 4px;
    font-size: 12px;
    display: flex;
    gap: 10px;
}
.btn svg{
    margin-top: 4px;
}
.redbtn{
    background-color: red;
    font-weight: bold;
    color: white;
    padding: 4px 22px;
    font-size: 12px;
    border-radius: 7px;
    display: flex;
    gap: 10px;
}
.content button{
    font-size: 17px;
}
.email{
    display: flex;
    justify-content: center;
    gap: 10px;
}
.redbtn svg{
   margin-top: 5px;
}
.first{
    display: flex;
    justify-content: center;
    max-width: 70vw;
    margin: auto;
    color: white;
    align-items: center;
    gap: 30px;
    padding: 45px;
}
.sec-img{
    position: relative;
}
.sec-img img{
    width: 30vw;
    z-index: 10;
    position: relative;
}
.sec-img video{
    width: 23vw;
    position: absolute;
    top: 51px;
    right: 50px;
    
}
.test h1{
    font-weight: bolder;
    font-size: 28px;
    font-family: 'Martel Sans', sans-serif;
    
}
.faq{
    background-color: black;
    color: #ffff;
    padding: 45px;
}
.faq h2{
    font-weight: bolder;
    font-size: 35px;
    font-family: 'Martel Sans', sans-serif;
    text-align: center;
   
}
.faqbox{
    background-color: rgb(41, 41, 41);
    display: flex;
    justify-content: space-between;
    padding: 15px;
    margin: 15px auto;
    max-width: 70vw;
    font-weight: bold;
    cursor: pointer;
}
.faqbox:hover{
    transition: all 1s;
    background-color: rgb(98, 98, 98);
}
.subs{
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color:#ffff;
    font-weight: bold;
    text-align: center;
}
.inpsub{
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 15px;
}
.inpsub input{
    padding: 7px 101px 7px 14px;
    font-size: 13px;
    border-radius: 4px;
    background-color: rgb(0 0 0 / 60%);
    font-weight: bold;
    color: white;
}
.inpsub button{
    font-size: 17px;
}

fotter{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}